/* --------------------------------------------------------------
/* MAIN LESS MIXINS AND FUNCTIONS - LESSHAT
-------------------------------------------------------------- */
/* --------------------------------------------------------------
VARIABLES
-------------------------------------------------------------- */
.postmeta-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -moz-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  flex-wrap: wrap;
}
.postmeta-wrapper .postmeta-item-wrapper {
  flex: 0 0 100%;
  max-width: 100%;
  margin: 0.5rem 0;
  padding: 0 1rem;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -moz-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  box-sizing: border-box;
}
.postmeta-wrapper .postmeta-item-wrapper label {
  flex: 0 0 30%;
  max-width: 30%;
}
.postmeta-wrapper .postmeta-item-wrapper input,
.postmeta-wrapper .postmeta-item-wrapper select {
  flex: 0 0 70%;
  max-width: 70%;
}
.postmeta-wrapper .cc-col-2 {
  flex: 0 0 50%;
  max-width: 50%;
}
img.cc_clientes_logo {
  max-width: 70px;
}
